  <div class="container">
    <div class="pull-left">
      <!-- <a href="/"><img src="/img/RID3870-use.png" height="54px"></a> -->
      <div class="dowloadables">
        <a href="/">HOME</a>
        <a href="/downloads/Distass2016RegistrationForm.pdf" target="_blank">DISTASS DETAILS</a>
        <a href="/downloads/Distass2015Programme.pdf" target="_blank">PLENARY HALL PROGRAMME</a>
        <a href="/downloads/Distass2015BreakoutSessions.pdf" target="_blank">BREAKOUT SESSIONS</a>
        <a href="/downloads/Distass2016RegistrationForm.pdf" target="_blank">REGISTRATION PDF</a>
        <a href="/downloads/Distass2016CommitteeChairs.pdf" target="_blank">CONTACT US</a>

        <a href="/downloads/LeadYourClub-President(222en).pdf" target="_blank">PRESIDENT'S MANUAL</a>
        <a href="/downloads/LeadYourClub- Secretary(229en).pdf" target="_blank">SECRETARY'S MANUAL</a>
        <a href="/downloads/LeadYourClub-Treasurer(220en).pdf" target="_blank">TREASURER'S MANUAL</a>
        <a href="/downloads/LeadYourClub-AdministrationCommitteeChair(226a_en).pdf" target="_blank">CLUB ADMIN MANUAL</a>
        <a href="/downloads/LeadYourClub-MembershipCommitteeChair(226b_en).pdf" target="_blank">MEMBERSHIP COMM MANUAL</a>
        <a href="/downloads/LeadYourClub-PublicRelationsCommitteeChair(226c_en).pdf" target="_blank">PUBLIC RELATIONS COMM MANUAL</a>
        <a href="/downloads/LeadYourClub-ServiceProjectsCommitteeChair(226d_en).pdf" target="_blank">SERVICE PROJECTS MANUAL</a>

        <a href="/downloads/RotaryFoundationCommitteeManual.pdf" target="_blank">TRF MANUAL</a>
        <a href="/downloads/DistrictReferenceGuide.pdf" target="_blank">DISTRICT REFERENCE GUIDE</a>
        <a href="/downloads/RotaryShowcaseUserGuide.pdf" target="_blank">ROTARY SHOWCASE USER GUIDE</a>
        <a href="/downloads/CreatingYourRotaryAccount.pdf" target="_blank">CREATING YOUR ROTARY ACCOUNT</a>
      </div>
    </div>
  </div>
