  <div class="container">
    <div class="pull-left">
      <!-- <a href="/"><img src="/img/RID3870-use.png" height="54px"></a> -->
      <div class="dowloadables">
        <a href="/">HOME</a>
        <a href="/downloads/Distass2015InvitationLetter.pdf" target="_blank">DISTASS DETAILS</a>
        <a href="/downloads/Distass2015Programme.pdf" target="_blank">PLENARY HALL PROGRAMME</a>
        <a href="/downloads/Distass2015BreakoutSessions.pdf" target="_blank">BREAKOUT SESSIONS</a>
        <a href="/downloads/Distass2015RegistrationForm.pdf" target="_blank">REGISTRATION PDF</a>
        <a href="/downloads/Distass2015CommitteeChairs.pdf" target="_blank">CONTACT US</a>
        <a href="/downloads/RotaryFoundationCommitteeManual.pdf" target="_blank">TRF MANUAL</a>
        <a href="/downloads/DistrictReferenceGuide.pdf" target="_blank">DISTRICT REFERENCE GUIDE</a>
        <a href="/downloads/RotaryShowcaseUserGuide.pdf" target="_blank">ROTARY SHOWCASE USER GUIDE</a>
        <a href="/downloads/CreatingYourRotaryAccount.pdf" target="_blank">CREATING YOUR ROTARY ACCOUNT</a>
      </div>
    </div>
  </div>
