  <div class="container">
    <div class="pull-left">
      <!-- <a href="/"><img src="/img/RID3870-use.png" height="54px"></a> -->
      <div class="dowloadables">
        <a href="/">HOME</a>
        <a href="/downloads/Distass2015InvitationLetter.pdf" target="_blank">DISTASS DETAILS</a>
        <a href="/downloads/Distass2015RegistrationForm.pdf" target="_blank">REGISTRATION PDF</a>
        <a href="/downloads/Distass2015CommitteeChairs.pdf" target="_blank">CONTACT US</a>
      </div>
    </div>
  </div>
