<div class="banner-container">
  <div>
  <img src="img/RCCV-white.png" width="110px" style="margin: 20px;"/>
  <img src="/img/RID3870-final.png" width="250px" style="margin: 20px;"/>
  <img src="/img/theme-white.png" width="140px" style="margin: 20px;"/>
  </div>
  <div style="margin: 30px 20px;">
    <h1 style="color: #ffffff;">{{ 'Club Leadership Training Seminar' | upcase }}
      <br/>District Assembly 2015
    </h1>
  </div>

    <!-- <div class="banner-border">
      <div class="banner">
        <div class="container">
          <h1>{{ 'Club Leadership Training Seminar' | upcase }}</h1>
          <span style="font-size: 28px;">District Assembly 2015</span>
        </div>
      </div>
    </div> -->
  <p style="font-size: 24px;">
    APRIL 11, 2015
  </p>
  <p>
    Grand Caprice, Limketkai Center<br/>
    Cagayan de Oro City
  </p>
  <p>
    Host Club: Rotary Club of Carmen Valley
  </p>
  <div id="buttons">
    <h3>
      <!-- <a href="#" class="btn">PROGRAMME</a> -->
      <a href="#registration" class="btn scroll-toggle">REGISTER</a>
    </h3>
  </div>
  <a href="#countdown" id="arrow-down" class="scroll-toggle">
    <img src="/img/arrow.png">
  </a>
</div>
