<div class="banner-container">
  <div>
  <img src="/img/logo/2016-rotary-logo-1.png" width="550px"  style="margin: 4px 20px;"/>
  </div>
  <div style="margin: 30px 20px;">
    <h1 style="color: #ffffff;">{{ 'DISTRICT TRAINING ASSEMBLY 2016' | upcase }}</h1>
  </div>
  <p style="font-size: 24px;">
    APRIL 23, 2016
  </p>
  <p>
    Grand Caprice, Limketkai Center<br/>
    Cagayan de Oro City
  </p>
  <p>
    Host Club: Rotary Club of Carmen Valley
  </p>
  <div id="buttons">
    <h3>
      <a href="#registration" class="btn scroll-toggle">REGISTER</a>
    </h3>
  </div>
  <a href="#countdown" id="arrow-down" class="scroll-toggle">
    <img src="/img/arrow2.png" width="45px" />
  </a>
</div>
